

<!-- Capability Execution Alertbox -->
<div id="capability_exec_alert">
    <h2><span id="success-error-image">&#10004;</span>&nbsp;&nbsp;Capability Exeuction</h2>
    <p id="capability_result">Alert Message</p>
    <button id="alert-close" class="app-actions-details btn btn-primary" onclick="closeAlert()">Close</button>
</div>

<!-- Tiles -->
{% if agent.idShort.value %}
<div class="panel panel-default col-xs-6 col-sm-4 col-md-3 col-lg-3 d-flex justify-content-center text-center tile-box">
    <!-- Icon of AAS element -->
    <div class="picture">
        <a href="/{{ tile_nav }}/{{ agent.idShort.value }}" target="_self">
            <img width="100px" height="100px" src="{{ icon }}" />
        </a>
    </div>
    <div class="app-text">
        <!-- Textual Description-->
        <p class="app-text-type">{{ agent.modelType.value }}</p>
        <a href="/{{ tile_nav }}/{{ agent.idShort.value }}" target="_self">
            <h4 class="app-text-title"><p>{{ agent.idShort.value }}</p></h4>
        </a>
        {% if agent.descriptions and agent.descriptions.value and agent.descriptions.value|length > 0 %}
            {% if agent.descriptions.value[0] %}
                <span class="app-text-description">{{ agent.descriptions.value[0].text }}</span>
            {% else %}
                <span class="app-text-description">{{ agent.descriptions.value.text }}</span>
            {% endif %}
        {% else %}
            <span class="app-text-description">No description available</span>
        {% endif %}

        <!-- Buttons -->
        <!-- 1) Model Details -->
        <button class="app-actions-details btn btn-primary" title="Details" onclick="openPop('{{ agent.id }}')">&#x1F50D;</button>
        <!-- 2) Navigate to Subelements -->
        {% if model_type == 'SubmodelElement' %}
            <!-- Show Relationships of selected element (append element id) -->
            <button class="app-actions-details btn btn-primary" title="Relationships" onclick="location.href='{{ request.path }}/{{ agent.id }}'">&#10149;</button>
        {% elif model_type == 'SubmodelElementRelationship' %}
            <!-- Again show Relationships of selected element (new element with first element only) -->
            <button class="app-actions-details btn btn-primary" title="Relationships" onclick="location.href='/{{ tile_nav }}/{{ agent.id }}'">&#10149;</button>
        {% else %}
            <!-- Show Subelements -->
            <button class="app-actions-details btn btn-primary" title="Subelements" onclick="location.href='/{{ tile_nav }}/{{ agent.id }}'">&#10149;</button>
        {% endif %}
        <!-- 3) Additional Actions -->
         <button class="app-actions-details btn btn-primary" title="Actions" onclick="openPopAction('{{ agent.modelType.value }}', '{{ agent.id }}')" >&#10032;</button>
    </div>
</div>
{% else %}
    <p>No idShort</p>
{% endif %}


<!-- Details Pop-Up -->
<div class="popupDialog" id="popupDialog_{{ agent.id }}">
    <h4>{{ model_title }} Details</h4>
    <pre>{{ agent }}</pre>
    <button class="app-actions-details btn btn-primary" onclick="openPop('{{ agent.id }}')">
        Close
    </button>
</div>   

<!-- Action Pop-Up - Capability -->
 {% if agent.modelType.value == 'SubmodelElementCapability' %}
<div class="popupDialog" id="popupDialog_capabilities_{{ agent.id }}" >
    <h4>{{ agent.idShort.value }} Actions</h4>
    <p class="app-text-type">Execute {{ agent.modelType.value }}:</p>
    Input Variables (if required):
    <form action="#" onsubmit="execute_function(this, '{{agent.idShort.value}}', '{{agent.endpoint.value}}'); return false;">
        <textarea id="input_vars" name="input_vars" rows="10" cols="30" class="text-input" placeholder="Enter input variables of capability in json format"></textarea><br><br>
        <input class="app-actions-details btn btn-primary" type="submit" value="Execute">
    </form>     
    <button class="app-actions-details btn btn-primary" onclick="openPopAction('{{ agent.modelType.value }}', '{{ agent.id }}')">Close</button>
</div>   

{% endif %}

<!-- Action Pop-Up - Skill -->
{% if agent.modelType.value == 'SubmodelElementOperation' %}
<div class="popupDialog" id="popupDialog_skills_{{ agent.id }}" >
    <h4>{{ agent.idShort.value }} Actions</h4>
    <p class="app-text-type">Monitor {{ agent.modelType.value }} Execution:</p>
    <table class="skill_monitoring_table">
    <tr>
        <td class="first_column"><b>&nbsp;Execution State&nbsp;&nbsp;</b></td>
        <td class="second_column">&nbsp;{{ agent.executionState.value }}&nbsp;&nbsp;</td>
    </tr>
    <tr>
        <td class="first_column"><b>&nbsp;Operation Result&nbsp;&nbsp;</b></td>
        <td class="second_column">
            <table class="operation_result_table">
                <tr>
                    <td><i>&nbsp;Success&nbsp;&nbsp;</i></td>
                    <td>&nbsp;{{ agent.operationResult.value.success }}&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;<i>isException</i></td>
                    <td>&nbsp;{{ agent.operationResult.value.isException }}&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;<i>Messages</i></td>
                    <td>&nbsp;{{ agent.operationResult.value.messages }}&nbsp;&nbsp;</td>
                </tr>                
            </table>
        </td>
    </tr>
    </table> 
    <button class="app-actions-details btn btn-primary" onclick="openPopAction('{{ agent.modelType.value }}', '{{ agent.id }}')" >Close</button>
</div>   
{% endif %}

<!-- Action Pop-Up - No Action Supported -->
<div class="popupDialog" id="popupDialog_no_support" >
    <h4>{{ agent.idShort.value }} Actions</h4>
    <p>No Action Available</p>
    <button class="app-actions-details btn btn-primary" onclick="openPopAction('{{ agent.modelType.value }}', '{{ agent.id }}')">
        Close
    </button>
</div>   


